<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Determine Bone Diseases</title>
	<style type="text/css">
		table, td, th {
			border: 1px solid black;
		}
			
		table {
			border-collapse: collapse;
		}
	</style>
</head>
<body>
	<div layout:fragment="content">
		<div align="center">
			<h2>Quản lý triệu chứng</h2>
			<a href="symptom_new">Tạo triệu chứng</a> <br /> <br />
			<table border="1" cellpadding="10">
				<thead>
					<tr>
						<th>ID triệu chứng</th>
						<th>Tên triệu chứng</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="symptom : ${listSymptoms}">
						<td th:text="${symptom.id}"></td>
						<td th:text="${symptom.name}"></td>
						<td>
							<a th:href="@{'/symptom_edit/' + ${symptom.id}}">Edit</a>
							&nbsp;&nbsp;&nbsp; 
							<a th:href="@{'/symptom_delete/' + ${symptom.id}}">Delete</a>
							&nbsp;&nbsp;&nbsp; 
							<a th:href="@{'/symptom_view_weight/' + ${symptom.id}}">Xem trọng số</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>