<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Determine Bone Diseases</title>
</head>
<body>
	<div layout:fragment="content">
		<div align="center">
			<h3>Quản lý trọng số</h3>
			<a href="weight_new">Tạo trọng số</a> <br /> <br />
			<table border="1" cellpadding="10">
				<thead>
					<tr>
						<th>ID trọng số</th>
						<th>Tên bệnh</th>
						<th>Tên triệu chứng</th>
						<th>Trọng số</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="weight : ${listWeights}">
						<td th:text="${weight.id}">ID trọng số</td>
						<td th:text="${weight.disease.name}">Tên bệnh</td>
						<td th:text="${weight.symptom.name}">Tên triệu chứng</td>
						<td th:text="${weight.weight}">Trọng số</td>
						<td>
							<a th:href="@{'/weight_edit/' + ${weight.id}}">Edit</a>
							&nbsp;&nbsp;&nbsp; 
							<a th:href="@{'/weight_delete/' + ${weight.id}}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>