<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Determine Bone Diseases</title>
</head>
<body>
	<div layout:fragment="content">
		<div align="center">
			<h3>Chẩn đoán ca bệnh</h3>
<!-- 			cái list anh set lên không cần tên bệnh đâu nhé -->
<!-- 			chỉ cần các thuộc tính khác để em tính thôi -->
		</div>
	</div>
</body>
</html>