<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>Determine Bone Diseases</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript" src="js/main.js"></script>
	<style type="text/css">
		table, td, th {
			border: 1px solid black;
			padding-left: 5px;
		}

		table {
			border-collapse: collapse;
		}
		
		 td, th {
		 	font-weight: normal;
		 }

		input, select {
			font-size: 18px;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script th:inline="javascript">
		var real_data = /*[[${listSymptom}]]*/'noValue';
		$(document).ready(function () {
			$("#nameInput").autocomplete({
				minLength: 1,
				source: real_data,
				select: function (e, ui) {
					document.getElementsByName("name").value = ui.item.value;
					return ui.item.value;
				}
			})
		});
	</script>
</head>

<body>

	<div layout:fragment="content">
		<div align="center">
			<h2>Chẩn đoán bệnh xương</h2>
		</div>
		<div style="width: 20%; float:left"></div>
		<div style="width: 80%; float:right">
			<div>
				<h2 style="color: red">Thêm triệu chứng<h2>
				<form th:action="@{/addSymptomInView}" th:object="${Symptom}" method="POST" id="symptomForm">
					<div class="input-group mb-3">
						<label for="nameInput">Tên triệu chứng: &emsp; &ensp;</label>
						<input id="nameInput" th:field="*{name}"  />
						<span th:field="*{name}" id = "nameOutput" ></span>
					</div>
					<br>
					<div>
						<label>Độ tương đồng (0-1) : </label>
						<input type="text" id="similarity" name="similarity" th:field="*{similarity}" class="form-control"
							aria-describedby="basic-addon3">
						<div th:if="${similarityError}" th:utext="${similarityError}" style="color:red;font-style:italic;">
						</div>
					</div><br>
					<button type="submit" class="btn btn-primary">Thêm triệu chứng</button>
				</form>
			</div>
			<div th:if="${listSymptomSession!=null and !listSymptomSession.empty}">
				<h2 style="color: red">Danh sách triệu chứng và độ tương đồng<h2>
				<form form th:action="@{/diseasePrediction}" th:object="${listSymptomSession}" method="POST">
					<table>
						<tr class="hearder">
							<th width="400px" scope="col" align="left">Triệu chứng</th>
							<th width="200px" scope="col" align="left">Độ tương đồng</th>
						</tr>
						<tr th:each="symptom : ${listSymptomSession}">
							<td scope="row" th:text="${symptom.name}"></td>
							<td scope="row" th:text="${symptom.similarity}"></td>
						</tr>
					</table>
					<br>
					<button type="submit" class="btn btn-primary">Dự đoán kết quả<br></button>
				</form>
			</div>
			<div th:if="${listDisease!=null and !listDisease.empty}">
				<h2 style="color: red">Chẩn đoán<h2>
				<table>
					<tr class="hearder">
						<th width="400px" align="left">Tên bệnh</th>
						<th width="200px" align="left">Tỉ lệ (%)</th>
						<th align="left">Phương pháp chữa trị</th>
					</tr>
					<tr th:each="disease : ${listDisease}">
						<td width="500px" scope="row" th:text="${disease.name}"></td>
						<td width="250px" scope="row" th:text="${disease.percentage}"></td>
						<td scope="row" th:utext="${disease.cureMedthod}">...</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>

</html>