<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Determine Bone Diseases</title>
	<style type="text/css">
		table, td, th {
			border: 1px solid black;
		}
			
		table {
			border-collapse: collapse;
		}
	</style>
</head>
<body>
	<div layout:fragment="content">
		<div align="center">
			<h2>Quản lý bệnh và cách chữa trị</h2>
			<a href="/disease_new">Tạo bệnh và cách chữa trị</a> <br /> <br />
			<table border="1" cellpadding="10">
				<thead>
					<tr>
						<th>ID bệnh</th>
						<th>Tên bệnh</th>
						<th>Phương pháp chữa bệnh</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="disease : ${listDiseases}">
						<td th:text="${disease.id}"></td>
						<td th:text="${disease.name}"></td>
						<td th:text="${disease.cureMedthod}"></td>
						<td>
							<a th:href="@{'/disease_edit/' + ${disease.id}}">Edit</a>
							&nbsp;&nbsp;&nbsp; 
							<a th:href="@{'/disease_delete/' + ${disease.id}}">Delete</a>
							&nbsp;&nbsp;&nbsp; 
							<a th:href="@{'/disease_view_weight/' + ${disease.id}}">Xem trọng số</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>